@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

@font-face {
  font-family: NewYork;
  src: url("./assets/fonts/SIMPLECANDY.ttf") format("opentype");
}
@font-face {
  font-family: Querist;
  src: url("./assets/fonts/Querist-Regular.otf") format("opentype");
  // Lilyane - Personal Use
}

@font-face {
  font-family: Lilyane;
  src: url("./assets/fonts/Lilyane\ -\ Personal\ Use.otf") format("opentype");
  // Lilyane - Personal Use
}

@font-face {
  font-family: GatterSans;
  src: url("./assets/fonts/GatterSans-Regular.otf") format("opentype");
  // Lilyane - Personal Use
}

@font-face {
  font-family: Macherie;
  src: url("./assets/fonts/Macherie.otf") format("opentype");
  // Lilyane - Personal Use
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  // margin: 1rem 5rem;
  font-family: Lilyane;
  background-color: #111111;
  color: white;
  overscroll-behavior: none;
  min-width: 1300px;

  p::first-letter,
  h5::first-letter {
    text-transform: capitalize !important ;
  }
  input::-webkit-input-placeholder {
    font-family: GatterSans;
  }
}

:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 8;
  --card_medium: 10;
  --card_large: 12;
}

p,
button {
  font-family: GatterSans;
}

.head {
  font-family: Macherie !important;
  font-weight: 300;
  font-size: 3rem;
}

//__________header css start__________

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  position: sticky;
  top: 3rem;
  margin-top: 3rem;
  z-index: 999;

  &-components {
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 999;
    color: white;
    font-family: GatterSans;
    svg {
      stroke: white !important;
      transition: 0.1s ease;
      &:hover {
        transition: 0.1s ease;
        transform: translateY(0.2rem) scale(1.1);
      }

      &:hover {
        // stroke: #0028db !important;
        cursor: pointer;
      }
    }
    span {
      border-right: 1px solid white;
      height: 60%;
      width: 2px;
    }
  }

  .logo {
    width: auto;
    height: 1.7rem;
  }
  .avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
    svg {
      width: 1rem;
    }
    img {
      width: 2.5rem;
      border-radius: 100%;
      border: 1px solid #ffffff;
      padding: 0.14rem;
    }
  }
  .icon {
    width: 2rem;
    background-color: white;
  }
}
//__________header css end__________

//__________home css start__________

.hero-sec {
  display: grid;
  grid-template-columns: 50% 50%;
  // gap: 2rem;
  // overflow: hidden;

  &-shadow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 40px 0px 50px 40px #111111;
  }

  &-btn {
    background-color: #d31e27;
    border: 0;
    padding: 1rem 3rem;
    border-radius: 5rem;
    color: white;
    font-size: 1rem;
    transition: ease 0.4s;
    cursor: pointer;

    &:hover {
      background: linear-gradient(30deg, #d31e27, #68191e);
      transition: ease 0.4s;
    }
  }
}

//__________HOME CSS END__________

//__________Slider css start__________

.container-slider {
  overflow: hidden;
}

// .slideshow {
//   width: 100%;
// }

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  object-fit: cover;
  min-width: 100%;
  height: 35rem;
}
//__________Slider css end__________

//__________shiny button start__________
.custom-btn {
  width: fit-content;
  // height: 40px;
  padding: 10px 25px;
  border: 1px solid white;
  color: white;
  font-size: 1.4rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn-11:hover {
  background: #fff;
  color: #000;
}
.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@keyframes shiny-btn1 {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

//__________shiny button end__________

//__________artists section start__________
.artists-list {
  background-color: #111111;
  padding: 5rem auto;
  display: grid;
  place-items: center;
  // margin-top: 7rem;
  padding: 2rem 5rem;
  padding-bottom: 6rem;
  padding-top: 0;
  // animation: 1.5s shine linear infinite;
  margin: auto;
  width: 100%;
  .wrapp {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
    button {
      padding: 0.7rem 1rem;
    }
  }
  .head {
    font-size: 3rem;
  }
  &-imgs {
    display: flex;
    gap: 4rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5rem;
    width: 100%;
    max-width: 1300px;
    .artist {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      align-items: center;

      .featured-sec-div {
        cursor: pointer;
        border-radius: 50%;
        .featured-sec-center {
          font-size: 0.7rem;
          padding: 0.3rem 0.6rem;
        }
        img {
          width: 10rem;
          height: 10rem;
        }
      }
    }
    p {
      font-size: 1.1rem;
    }
    span {
      font-family: GatterSans;
      font-size: 0.8rem;
      background-color: #d31e27;
      padding: 0.1rem 0.5rem;
      border-radius: 1rem;
    }
    svg {
      fill: #d7fc70;
      stroke: #d7fc70;
    }
    img,
    .img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
      border: 2px solid #bbbbbb;
      padding: 0.4rem;

      // margin-bottom: 1rem;
    }
    .img {
      display: grid;
      place-items: center;
      font-size: 1.5rem;
      background-color: #c9c9c92c;
      // margin: 0.4rem;
    }
  }
}
//__________artists section end__________

//__________featured section start__________
.featured-sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  grid-template-rows: repeat(2, 20rem);
  overflow: hidden;
  gap: 1.2rem;
  background-color: #111111;
  padding: 2rem 9rem;

  .stitem {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    img {
      flex-grow: 1;
      width: 100%;
      object-position: center center !important;
    }
  }

  // background-color: white;
  // background-image: url("./assets/samples/painting7.jpg");
  // background-size: cover;
  // background-attachment: fixed;
  // background-position: 40%;
  div:nth-child(2) {
    // display: none;
    grid-row: 1/2;
    grid-column: 2/4;
  }

  div:nth-child(6) {
    grid-row: 2/3;
    grid-column: 3/5;
  }
}
.featured-sec-div {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e5e5e5;
    opacity: 0;
    transition: 0.3s ease all;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30%;
    overflow: hidden;
    transition: 0.3s ease all;
  }

  &:hover {
    .featured-sec-center {
      display: block;
    }

    img {
      transform: scale(1.1);
    }
  }
}
.featured-sec-center {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d7fc70;
  border-radius: 0.2rem;
  cursor: pointer;
  z-index: 99;
  font-family: GatterSans;
  font-weight: 600;
  color: black;
  padding: 0.8rem 1.2rem;
  font-size: 0.8rem;
}

//__________featured section end__________

//__________shiny button start__________
.fill {
  padding: 0.7rem 1.6rem;
  padding-top: 1rem;
  outline: 0;
  border: 1px solid #97bb34;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  // color: white;
  border-radius: 1px;
  font-family: GatterSans;
  font-weight: 500;
  font-size: 1.1rem;
}

.fill::after {
  content: "";
  background-color: #d7fc70;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 1px;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
  border-radius: 1px;
}
//__________shiny button end__________

//__________footer start__________
.footer-wrap {
  padding: 2rem 5rem;
  background-color: #111;
}
.footer {
  max-width: 1300px;
  padding: 2rem 0;
  border-top: 0.4px solid white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  // margin-bottom: 4rem;
  background-color: #111111;
  p {
    font-family: GatterSans;
  }

  div:nth-child(1) {
    grid-column: 1/-1;
  }
  .techs {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 1rem;
    div {
      align-items: center;
      gap: 1rem;
      display: flex;
    }
    img {
      height: 1.5rem;
      // width: 100%;
    }
  }
}
.payment {
  display: flex;
  flex-direction: column;
  img {
    width: 6rem;
  }
}
//__________footer start__________

//__________sidebar start__________
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20rem;
  min-width: 20rem;
  padding-left: 5rem;
  position: sticky !important;
  align-self: flex-start;
  // margin-top: 3rem;
  top: 9rem !important;

  .flexy {
    color: #dbdbdb;
    font-size: 1.1rem;
    font-family: GatterSans;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    // height: 2rem;
    svg {
      stroke: white;
      width: 1.4rem !important;
      stroke-width: 1.5;
    }
    transition: ease-in-out 0.1s;
  }
  .sortBy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 12rem;
    .sortCat {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-family: GatterSans;
      margin-left: 2rem;
      span {
        margin-left: auto;
        font-family: GatterSans;
        svg {
          cursor: pointer;
          width: 1rem;
          height: 1rem;
          stroke: rgba(255, 255, 255, 0.338);
          transition: ease 0.1s;
          &:hover {
            transition: ease 0.1s;
            stroke: rgba(255, 255, 255);
            // transform: translateY(-0.3rem);
            transform: scale(1.2);
          }
        }

        span {
          float: right;
          color: #c9c9c984;
        }
      }
    }
  }
}
//__________sidebar end__________

//__________artist porfile start__________
.artist-sec {
  flex-grow: 1;
  padding: 5rem;
  padding-top: 0;

  .porfile-card {
    /* From https://css.glass */
    // background: rgba(104, 104, 104, 0.2);
    // border-radius: 1rem;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-align: center;
    background-image: url("./assets/images/avatar.png");
    // background-size: cover;
    max-height: 12rem;
    min-height: 12rem;
    margin-bottom: 8rem;
    // background-size: 300px 100px;
    border-radius: 1rem;

    .abs {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      background-color: red;
      p {
        font-family: GatterSans !important;
        text-align: right;
        font-size: 0.75rem;
        font-weight: 600;
        &:nth-child(1) {
          margin-bottom: 0.2rem;
        }
      }
    }

    img {
      // border-radius: 1rem 3rem 3rem 1rem;
      width: 12rem;
      height: 12rem;
      min-width: 12rem;
      min-height: 12rem;
      max-width: 12rem;
      max-height: 12rem;
      object-position: top;
      object-fit: cover;
      border-radius: 50%;
      margin: auto;
      // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: 5px solid white;
    }
    .details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.5rem;
      p {
        color: rgb(252, 250, 250);
        text-align: left;
        font-family: GatterSans !important;
        font-size: 1rem;
      }
    }
  }
}

.painting-cards {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
  margin-top: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card_width), 1fr));
  grid-auto-rows: var(--row_increment);
  justify-content: center;

  .single-card {
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.11);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;

    // animation-name: scroll2;
    // animation-duration: 1s;
    // animation-timing-function: cubic-bezier(1, 0, 0, 1);
    &:nth-child(3n) {
      grid-row-end: span var(--card_medium);
    }
    &:nth-child(3n-1) {
      grid-row-end: span var(--card_small);
    }
    &:nth-child(3n-2) {
      grid-row-end: span var(--card_large);
    }

    .details-container {
      // background-color: red;
      padding: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      h5 {
        font-size: 1rem;
        font-family: GatterSans;
      }
      p {
        font-family: GatterSans;
        font-size: 0.9rem;
        color: gray;
      }
    }
    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      button {
        background-color: rgb(1, 229, 1);
        background-color: #0028db;
        width: fit-content;
        padding: 0.5rem 0.9rem;
        border-radius: 1rem;
        color: rgb(255, 255, 255);
        border: 0;
        font-family: GatterSans;
        font-size: 0.8rem;
        &:hover {
          background-color: #0022ba;
        }
      }
    }
    .card-img {
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #e5e5e5;
        opacity: 0;
        transition: 0.7s ease all;
      }
      img {
        overflow: hidden;
        transition: 0.7s ease all;
        object-position: top;
        height: 100%;
        min-width: 100%;
        object-fit: cover;
      }

      &:hover {
        .featured-sec-center {
          display: block;
        }

        img {
          transform: scale(1.08);
        }
      }
    }

    .abs {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.4rem;

      .svg-wrapper {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: grid;
        place-items: center;
        svg {
          /* From https://css.glass */

          stroke: white;
          padding: 0.6rem;
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 50%;
          cursor: pointer;
          transition: ease 0.1s;

          &:hover {
            transition: ease 0.1s;
            transform: scale(1.1);
          }
        }
      }
      p {
        font-size: 0.7rem;
        background-color: #d31e27;
        padding: 0.3rem 1rem;
        border-radius: 1rem;
        font-family: GatterSans;
        font-weight: 500;
      }
    }
  }
}
//___cart_______artist porfile end__________

//_______cart section start__________

.cart-bg {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  // top: 4.2rem;
  // width: 100vw;
  // height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.cart {
  // position: absolute;
  // right: 0;
  // top: 4.2rem;
  // background-color: gray;
  // max-width: 32rem;
  margin: 7rem 5rem;
  margin-left: auto;
  width: 24rem;
  max-width: 24rem;
  box-shadow: rgb(255, 255, 255) 0px 25px 50px -12px;
  max-height: 40rem;
  overflow-y: scroll;

  backface-visibility: visible !important;
  animation-name: fadeIn;
  animation-duration: 0.23s;
  animation-fill-mode: both;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  p {
    font-family: GatterSans;
  }

  .items {
    padding: 1.3rem;
    padding-bottom: 0.3rem;
    p {
      margin-left: auto;
      // background-color: #d7fc70;
      color: #c9c9c9;
      // border-radius: 0.5rem;
      width: fit-content;
      padding: 0.3rem;
      font-size: 0.8rem;
      font-family: GatterSans;
    }
  }
  .total {
    display: flex;
    padding: 1rem 1.3rem;
    padding-bottom: 0;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.281);

    p {
      font-family: GatterSans;
    }
  }
  .checkout {
    position: sticky;
    bottom: 0;
    display: none;
    padding: 1rem 1.3rem;
    font-family: GatterSans;
    border-top: 1px solid rgba(255, 255, 255, 0.309);
    // background-color: #d31e27;
    color: #f9faf7;
    border-radius: 0 0 0.9rem 0.9rem;
    text-align: center;
    background-color: #111111;

    display: flex;
    .checkout-btn {
      margin-left: auto;
      background-color: #0028db;
      width: fit-content;
      padding: 1rem 1.3rem;
      border-radius: 4rem;
      color: white;
      border: 0;
      font-family: GatterSans;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
  .individual-item {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    padding-bottom: 2rem;
    gap: 1rem;
    .desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    img {
      width: 4rem;
      height: 4rem;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
    }
    .remove {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;
      .remove-item {
        stroke: #d31e27;
        transition: ease 0.1s;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          transition: ease 0.1s;
        }
      }
      .price {
        // background-color: #0c4ac6;
        // padding: 0.1rem 0.3rem;
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
  }
}
//_______cart section end__________

.glass {
  background: #111111e7;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}
.glass2 {
  background: rgba(0, 0, 0, 0.159);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bought {
  font-family: GatterSans;
  font-size: 0.7rem;
  background-color: #d31e27;
  padding: 0.1rem 0.3rem;
  // border-radius: 0.4rem;
  width: fit-content;
}

.credits {
  font-size: 0.6rem;
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//_______home-pg gallery start__________

.stimu {
  z-index: -1;
  position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  columns: 5;
  column-gap: 1rem;
  gap: 1rem;
  /* max-height: 100vh; */
  /* margin: 0 3rem; */
}

.stimu .img {
  width: 100%;
  /* overflow: hidden; */
  /* break-inside: avoid; */
  margin-bottom: 1rem;
}
.stimu .img img {
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  width: 100%;
  animation-iteration-count: infinite;
}

@media (max-width: 1000px) {
  .stimu {
    columns: 4;
  }
}

@media (max-width: 600px) {
  body {
    margin: 1rem;
  }
  .stimu {
    columns: 3;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll2 {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0);
  }
}
//_______home-pg gallery end__________

//_______home-text start__________
.home-text {
  // margin-top: -2.4rem;
  position: relative;
  box-shadow: 0px -100px 100px 10px #11111187 inset;
  -moz-box-shadow: 0px -100px 100px 10px #11111187 inset;
  -webkit-box-shadow: 0px -100px 100px 10px #11111187 inset;
  background: rgba(0, 0, 0, 0.7);
  // backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);
  &-p {
    h4 {
      font-family: Macherie !important;
      font-size: 2rem;
    }
    text-shadow: 0.1em 10px 60px #000000f5;
    text-align: center;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
//_______home-text end__________

// ellipsis
.ellipsis {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

//_______auth start__________
.auth-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #111111b1;
  top: 0;
  display: flex;
  .logo {
    width: 8rem;
    // height: 0;
  }
}
.auth {
  transform: translate(
    0
  ); // this has no-effect expect the input svg anim. to work on safari
  margin: auto;
  width: fit-content;
  max-width: 25rem;
  min-width: 25rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  padding: 2rem;
  color: black;
  text-align: center;
  font-family: GatterSans;

  background: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.41);

  .hideRegister,
  .hideRegister2 {
    // height: 0;
    color: #2950ff;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: GatterSans;
  }
  .hideRegister {
    // margin-left: auto;
    text-decoration: underline;
    // margin-right: 0.2rem;
    // width: fit-content;
    height: auto;
    display: flex;
    justify-content: space-between;
    img {
      filter: drop-shadow(1px 2px 8px rgb(255, 255, 255));
    }
    p {
      align-self: flex-end;
    }
  }
  .hideRegister2 {
    margin: auto;
  }
  span {
    &:hover {
      color: black;
      transition: ease-in 0.3s;
    }
  }

  .login-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    button {
      font-size: 0.9rem;
      border-radius: 2rem;
      background-color: #111;
      color: #fff;
      border: 0;
      // width: 60%;
      outline: 0;
      padding: 1.5rem 3.3rem;
      p {
        font-family: GatterSans;
      }

      &:hover {
        cursor: pointer;
        transition: ease-in 0.2s;
        box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px,
          rgba(0, 0, 0, 0.1) 0px 18px 36px -18px;
      }
    }
    svg {
      width: 2.1rem;
      height: 2.1rem;
      &:hover {
        cursor: pointer;
        transition: ease-in 0.2s;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.2));
      }
    }
  }

  // input:focus {
  // }

  .input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0f7ff;
    padding: 0 1rem;
    border-radius: 2rem;
    flex-wrap: wrap;

    .alert {
      font-size: 0.75rem;
      font-weight: 600;
      color: red;
      flex-basis: 100%;
      height: 0;
      text-align: left;
      font-family: GatterSans;
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
      stroke: black;
      background: rgb(255, 255, 255);
      padding: 0.5rem;
      border-radius: 50%;
    }

    // input:-webkit-autofill,
    // input:-webkit-autofill:hover,
    // input:-webkit-autofill:focus,
    // input:-internal-autofill-selected,
    // input:-webkit-autofill:active {
    //   -webkit-box-shadow: 0 0 0 30px #f0f7ff inset !important;
    // }

    input:-webkit-autofill {
      -webkit-background-clip: text;
    }
    input {
      padding: 1.5rem;
      outline: 0;
      border: 0;
      flex-grow: 1;
      border-radius: 0 2rem 2rem 0;
      background-color: transparent;
    }
  }
}

.bgma {
  background-color: black !important;
  stroke: white !important;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bgma3 {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  fill: white;
}
.blackk {
  path {
    stroke: black;
  }
}
.blackk2 {
  fill: white;
  path {
    stroke: black;
    &:nth-child(1) {
      // stroke: white;
    }
    &:nth-child(2),
    &:nth-child(3) {
    }
  }
}

.bgma2 {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.flipiny {
  // background-color: #0028db;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.dots-7 {
  width: 20px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, white 90%, #fff0);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: d7 1s infinite linear;
  height: 18px;
}
@keyframes d7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

.alert-danger,
.alert-success {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  font-family: GatterSans;
  width: fit-content;
}
.alert-danger {
  color: rgb(252, 0, 0);
}
.alert-success {
  color: green;
}

//_________DetailedDialog start _______

.detailed {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;

  .single-card {
    margin: auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.11);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    // animation-name: fadeIn;
    animation-duration: 0.1s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    max-width: 50rem;
    max-height: 30rem;
    min-height: 30rem;

    .details-container {
      flex: 1 1 75%;
      padding: 1.1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h5 {
        font-size: 1rem;
        font-family: GatterSans;
      }
      p {
        font-family: GatterSans;
        font-size: 0.9rem;
        color: gray;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // align-items: center;
      gap: 1rem;

      button {
        background-color: #0028db;
        width: fit-content;
        padding: 1.5rem 3.3rem;
        border-radius: 2rem;
        color: white;
        border: 0;
        font-family: GatterSans;
        font-size: 0.8rem;
        &:hover {
          background-color: #0022ba;
          cursor: pointer;
        }
      }
    }
    .card-img {
      overflow: hidden;
      flex: 1 1 100%;
    }

    .abs {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.4rem;

      .svg-wrapper {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: grid;
        place-items: center;
        svg {
          /* From https://css.glass */

          stroke: white;
          padding: 0.6rem;
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 50%;
          cursor: pointer;
          transition: ease 0.1s;

          &:hover {
            transition: ease 0.1s;
            transform: scale(1.1);
          }
        }
      }
      p {
        font-size: 0.7rem;
        color: white;
        background-color: #d31e27;
        padding: 0.3rem 1rem;
        border-radius: 1rem;
        font-family: GatterSans;
        font-weight: 500;
      }
    }
  }
}

//_________DetailedDialog end _______

.profile {
  .items {
    padding: 1rem;
    p {
      font-size: 1rem;
      font-weight: 600;
      text-align: left;
      margin: 0;
      width: 100%;
      padding: 1rem 0;
      &:nth-child(1) {
        padding-top: 0;
        // border-bottom: 1px solid rgb(72, 72, 72);
      }
    }
    button {
      background-color: rgb(1, 229, 1);
      background-color: #0028db;
      width: fit-content;
      padding: 0.5rem 0.9rem;
      border-radius: 1rem;
      color: rgb(255, 255, 255);
      border: 0;
      font-family: GatterSans;
      font-size: 0.8rem;
      margin: 1rem 0 0 0;
      cursor: pointer;
      &:hover {
        background-color: #0022ba;
        color: #fff !important;
      }
    }
  }
}

// dialog box

.dialogbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.3rem;
  min-width: 25rem;
}

.artist-skeleton {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  .svg-anim {
    animation: skeleton-loading 1s linear infinite alternate;
    background-color: transparent !important;
    fill: #80808057;
    stroke: none;
  }
  .p-text,
  .p-sold {
    height: 1.1rem;
    width: 3rem;
    background-color: #00000044;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 0.2rem;
  }
  .p-text {
    width: 5rem;
  }
  .img {
    // background-color: #00000044;
    background-color: #80808057;
    border: 0;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &:nth-child(2n) {
    .img {
      animation-delay: 0.3s;
      // background-color: red !important;
    }
  }
  &:nth-child(3n) {
    .img {
      animation-delay: 0.7s;
      // background-color: red !important;
    }
  }
}

// @keyframes shine {
//   to {
//     background-position-x: -200%;
//   }
// }
.featured-skeleton {
  width: 100%;
  height: 100%;
  .img {
    width: 100%;
    height: 100%;
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

.single-card-skeleton {
  width: 100%;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto 6.5rem;
  overflow: hidden;
  width: 100%;
  animation: skeleton-loading 1s linear infinite alternate;
  &:nth-child(3n) {
    grid-row-end: span var(--card_medium);
  }
  &:nth-child(3n-1) {
    grid-row-end: span var(--card_small);
    animation-delay: 0.2s;
  }
  &:nth-child(3n-2) {
    grid-row-end: span var(--card_large);
    animation-delay: 0.3s;
  }

  .details-container {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #80808021;
    animation: skeleton-loading2 1s linear infinite alternate;

    h5,
    p {
      height: 1.6rem;
      border-radius: 1rem;
      background-color: #11111187;
      min-width: 3rem;
    }
  }
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    button {
      background-color: #11111187;
      padding: 0.5rem 0.9rem;
      border-radius: 1rem;
      border: 0;
      height: 2rem;
      min-width: 4rem;
    }
  }
  .card-img {
    animation: skeleton-loading 1s linear infinite alternate;
    background-color: #cb171757;
    min-width: 100%;
    // min-height: 100%;
    object-fit: cover;
  }
}
.pro-pic-skeleton {
  width: 12rem;
  animation: skeleton-loading3 1s linear infinite alternate;
  min-height: 12rem;
  border-radius: 50%;

  box-shadow: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: #48484857;
    fill: #80808057;
    stroke: none;
  }
  100% {
    background-color: #3d3d3d21;
    fill: #80808021;
    stroke: none;
  }
}

@keyframes skeleton-loading2 {
  0% {
    background-color: #2d2d2d21;
  }
  100% {
    background-color: #36363622;
  }
}

@keyframes skeleton-loading3 {
  0% {
    background-color: rgb(104, 104, 104);
  }
  100% {
    background-color: #222222;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
